.notif-box {
    padding-right: 2em;
    position: relative;
    width: 50px;
}
.cart-count-box {
    position: absolute;
    right: 30px;
    top: -22px;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid;
    background: white;
}
.cart-count {
    display: inline-block;
    padding: 4px 0;
}