.nav-item {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  width: 100px;
  height: 18px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
