
.card {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  background: #eaeaea;
}

.like-icon {
  margin: 0 1em;
  width: 50px;

  img {
    width: 100%;
  }
}

.card-details {
  flex: 1;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
