<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>React Nitro 2</title>
    <!-- <link rel="stylesheet" type="text/css" href="/style.css" /> -->
    <script src="http://localhost:3000/vendors/vendors.app.js"></script>

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: "Open Sans Condensed", sans-serif;
      }
    </style>
  </head>

  <body>
    <!-- <fragment src="https://us-central1-nitro2.cloudfunctions.net/n2header/index"></fragment> -->
    <fragment src="http://localhost:3000/header/index.html"></fragment>
    <slot name="main"></slot>
    <!-- <fragment src="https://us-central1-nitro2.cloudfunctions.net/n2footer/index"></fragment> -->
    <fragment src="http://localhost:3000/footer/index.html"></fragment>

    <script>
      // if ("serviceWorker" in navigator) {
      //   navigator.serviceWorker.register("./dist/assets/sw.js").then(function() {
      //     console.log("Service Worker Registered");
      //   });
      // }
    </script>
  </body>
</html>
