<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>React Nitro 2</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <!-- <script src="/vendor-loader.js"></script> -->
    <!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script> -->
    <!-- <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> -->
    <!-- <script src="/vendors/vendors.app.js"></script> -->
  </head>

  <body>
    <fragment src="http://localhost:9001/nitro2/us-central1/n2header"></fragment>
    <slot name="main"></slot>
    <fragment src="http://localhost:9001/nitro2/us-central1/n2footer"></fragment>
  </body>
</html>
