<style>
  html,
  body {
    height: 100%;
  }
 
  .landing {
    background: #e2e2e2
      url(https://devitems.com/html/69fashion-preview/69fashion/img/slider-1/slider-1-1.jpg)
      no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    width: 100%;
    height: 100%;
    min-height:90vh;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 768px) {
    .landing {
      background-position: 70%;
    }
  }

  .landing section {
    height: auto;
    width: 530px;
    padding: 30px;
    font-size: 1.3em;
    margin: auto;
    background-image: linear-gradient(
      to left,
      rgba(68, 68, 68, 0),
      rgba(68, 68, 68, 1)
    );
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 0 15%;
  }
  .landing section p {
    font-size: 0.75em;
  }
  .landing h1,
  .landing h3 {
    text-transform: uppercase;
    margin-top: 5px;
  }
  .landing .button {
    background: #009999 url(http://i.imgur.com/RWKrr8S.png);
    background-repeat: no-repeat;
    background-position: 2em 50%;
    background-size: 2em;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    padding: 1em 3em;
    padding-left: 6em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
  }

  @media (max-width: 1400px) {
    .landing section {
      margin-left: 11%;
      width: 430px;
    }
  }
  @media (max-width: 1160px) {
    .landing section {
      margin-left: 7%;
      width: 350px;
    }
  }
  @media (max-width: 860px) {
    .landing section {
      margin-left: 3%;
    }
  }
</style>

<main slot="main">
  <div class="landing">
    <section>
      <h3>New Arrival</h3>
      <h1 class="title1">Womens's Autumn Collection</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <a href="/New-Arrivals" class="button">Shop Now</a>
    </section>
  </div>

  <fragment async src="http://localhost:3000/billboard/index.html"></fragment>
</main>
