.button-style {
    background: #009999 url(http://i.imgur.com/RWKrr8S.png);
    background-repeat: no-repeat;
    background-position: 2em 50%;
    background-size: 2em;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
    padding: 1em 3em;
    padding-left: 6em;
    text-transform: uppercase;
    display: block;
    width: 100%;
    &:hover {
        background-color: #006B6B;
        background-size: 2.2em;
        background-position: 1.5em 50%;
    }
}